a {
    text-decoration: none;
    color: white;
}

.title {
    text-align: center;
}

.carousel-inner {
    height: 100%;
}

#root {
    /* border: 1px solid red; */
    overflow-x: hidden;
    /* display: flex;
    flex-direction: column;
    height: 100vh; */
}

#header {
    position: relative;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/pexels-lisa-fotios-16129703.jpg');
    background-position-y: 15%;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Fix for flickering carousel */                                                      
.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
  }
  .carousel-inner .carousel-item:first-of-type {
    position: relative;
  }
  .carousel-inner .active {
    opacity: 1;
  }
  /* End of fix */


#try {
    display: flex;
    justify-content: center;
}

#tryItOnline {
    text-decoration: none;
    color: white
}


#tryItOnline:hover {
    color: black;
}
#signin {
    transition: all .3s;
}


#signin:hover {
    transform: scale(1.05)
}

.history-item {
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
    transition: all .05s;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.history-item:hover{
    background-color: #232223;
    cursor: pointer;
}

.history-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actual-history-item:hover .delete-item {
    opacity: 1;
    visibility: visible;
}

.delete-item {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.history-text:hover + .delete-item {
    opacity: 1;
    visibility: visible;
}


.delete-item:hover {
    animation: shake .8s infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px) rotate(-5deg); }
    20% { transform: translateX(5px) rotate(5deg); }
    30% { transform: translateX(-5px) rotate(-5deg); }
    40% { transform: translateX(5px) rotate(5deg); }
    50% { transform: translateX(-5px) rotate(-5deg); }
    60% { transform: translateX(5px) rotate(5deg); }
    70% { transform: translateX(-5px) rotate(-5deg); }
    80% { transform: translateX(5px) rotate(5deg); }
    90% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
  }

.sidebar-settings .history-item i {
    width: 18px;
}

.history-item2 {
    padding: 5px 0 5px 5px;
    border-radius: 7px;
    transition: all .05s;
    white-space: nowrap;
    overflow-x: visible;
    text-overflow: ellipsis;
}

.history-item2:hover{
    background-color: #232223;
    cursor: pointer;
}

.logOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.logOut.show {
  opacity: 1;
}



.pre-wrap {
    white-space: pre-wrap;
    border: none;
}

#container {
    position: relative;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

pre {
    background-color: #282c34;
    color: #abb2bf;
    padding: 16px;
    overflow: auto;
    font-family: Consolas, monospace;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
    border-left: 3px solid black;
}

.title {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    color: white;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}





#logoFirst {
    font-weight: 900;
}

#logoFirst {
    font-weight: 500; 
}



.collaps, .line {
    /* color: white; */
    width: 2rem;
    height: .1em;
    background-color: white;
    font-weight: 600;
    border: none;
}

/* #code {
    width: 100%;
    transition: all 2s;
}

#response {
    width: 0%;
    transition: all 2s;
} */

@media (min-width: 992px) {

    .link {
        position: relative;
    }

    .link::after {
        content: "";
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: white;
        transition: width .5s;
    }

    .link:hover::after {
        width: 100%;
    }
}



@media (max-width: 992px) {
    .title {
        /* text-align: center; */
        width: 90%;
    }

    .sidebar {
        /* background: rgba(91, 90, 88, 0.6); */
        background: black;
    }



}

@media (min-width: 992px) and (max-width: 1266px) {
    .title {
        /* text-align: center; */
        width: 60%;
    }
}






#sidebar {
    background-color: #333334;
}


::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
    background-color: #444654; /* background color */
    /* border-radius: 10px; */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the thumb */
    border-radius: 10px; /* border radius to make the ends rounded */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* color of the thumb on hover */
  }


.cm-gutter, .cm-activeLineGutter {
    background: #232223;
}

.cm-editor, .cm-theme {
    height: 100%;
}

.cm-scroller{
    /* height: 100vh; */
    background: #232223;
}

#code-editor .cm-gutterElement {
    text-align: center;
}

.control-buttons {
    background-color: white;
    border-radius: 25px;
    transition: all .15s;
}

.control-buttons:hover {
    background-color: #232223;
    color: white;
}

/* .control-buttons:hover i {
    color: white;
} */


.hide {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: underline;
}

.hide:hover {
    color: rgb(255, 255, 255);
}

#google-icon {
    height: 1.7rem;
}

#modal .modal-content {
    padding: 0 15px 0 15px;
}

#modal .modal-header, #modal .modal-footer {
    border-color: transparent;
}

#modal .modal-footer {
    padding-right: 0;
    padding-left: 0;
}


.input-item {
    outline: none;
    width: 100%;
    border-radius: 7px;
    border: none;
    /* padding: 3px; */
    height: 30px;
    background-color: #232223;
    color: white;
}